# dependencies
/node_modules

# next.js build output
/.next/
/out/
/.vercel/
.gitold
# production builds
/build
/dist

# environment variables
.env
.env.*
!.env.example

# local logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
next.config.ts
# IDE / editor files
.vscode/
.idea/
package-lock.json
# OS files
.DS_Store
Thumbs.db
# certificates
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts
public/videos/park-old.mp4
